* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: didact gothic;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 600px;
}

.post {
  display: flex;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.035);
  border-radius: 15px;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  font-family: didact gothic;
}

.post__btns {
  display: flex;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}

.page {
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  font-family: didact gothic;
}

.page__current {
  border: 2px solid orange;
  font-weight: bold;
}

.navbar {
  margin-top: 0px;
  border-radius: 10px;
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0px 25px;
  background: rgb(233, 233, 233);
  font-family: didact gothic;
}

.navbar__links {
  margin-left: auto;
}
